@keyframes menu-open {
    from {
        width: 0;
    }

    to {
        width: 60vw;
    }
}

@keyframes menu-close {
    from {
        width: 60vw;
    }

    to {
        width: 0;
    }
}

@keyframes fade {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}

@keyframes show {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}