@media screen and (max-width:600px) {
    .mainLogo {
        width: 170px;
        grid-area: logo;
        justify-self: center;
    }

    .nav-list {
        /* display: none; */
        top: 49px;
    }

    .hamburger-trigger {
        grid-area: trigger;
        justify-self: flex-end;
        padding-right: 20px;
    }

    .hamburger-trigger>img {
        width: 25px;
    }

    nav {
        display: grid;
        grid-template-areas: ". logo trigger";
    }

    .heading-primary {
        line-height: 1;
    }
}